{% extends 'base_template.html' %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="sidenav">
   <div class="login-main-text">
      <h2>User<br>Login Page</h2> <hr>
      <p>Login or register here to upload criminal details.</p>
   </div>
</div>
<div class="main conatiner">
   <div class="col-md-6 col-sm-12">
      <div class="login-form">
         <form action="{% url 'accounts:login' %}" method="POST">
            {% csrf_token %}
            {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}"
            {% endif %} 
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary gap text-uppercase">Login</button>
            <a href="{% url 'accounts:signup' %}" class="btn btn-primary btn-fix details text-uppercase">Signup</a>
         </form>
   </div>
</div>
</div>

{% endblock %}