{% extends 'base_template.html' %}

{% block content %}

<div class="gap-between">
  <div class="container emp-profile">

  <form action="{% url 'criminals:search' %}", method="GET">

      {% csrf_token %}

      Name:
      <input type="text" class="form-control" name="name" placeholder="{{request.GET.name}}">

      <input type="submit" value="Search">

  </form>

  {% if criminals %}

  <div class="container">
    <div class="row justify-content-center">

      {% for criminal in criminals %}

      <div class="col-sm-4 d-flex gap p-0">
        <div class="card card-width mx-auto">
          <img class="card-img-top" src="{{ criminal.photo.url }}" alt="Card image cap">
          
          <div class="card-body flex-fill">
            <h5 class="card-title">NAME: {{ criminal.name }}</h5>
            <p class="card-text">CRIME: {{ criminal.crime_type }} </p>
            <div class="container loc">
              <p class="card-text">LOCATION: {{ criminal.location }} </p>
            </div>
            <a href="{% url 'criminals:details' criminal.criminal_id %}" class="btn btn-primary btn-fix details">See Details</a>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
      <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
      </div>

  </div>
</div>

{% else %}
not found
{% endif %}

</div>

{% endblock %}